.efecto{
    font-size: 19px;
    font-weight: 500;
    position: relative;
    color: #fff;

  }
  .efecto:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    color: #fff;
    height: 100%;
    background: #51c994;
    transition: all 0.4s ease;
  }
  .efecto:hover:before {
  width: 100%;
  }
.degradado{
  --tw-gradient-from: #4373cf; --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) 70%;
}
.degradado_50{
  --tw-gradient-from: #4373cf; --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) 50%;
}

.letraCarrusel{
  color:#3262a0;
  font-size:1.2rem;
}
.animacionSlider{
  position: relative;
  animation: 10s slidy infinite alternate ; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
	0% {margin-left: 0;}
	25% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	50% {margin-left: -100%;}
	
	75% {margin-left: -200%;}
	100% {margin-left: -200%;}

}
.animacionEmpresas{
  position: relative;
  animation: 10s empresas infinite  ; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes empresas {
	0% {margin-left: 0;}
	15% {margin-left: 0;}
	
	30% {margin-left: -100%;}
	45% {margin-left: -200%;}
	
	60% {margin-left: -300%;}
	75% {margin-left: -400%;}

	90% {margin-left: -500%;}


}
